/ {
    chosen {
        zephyr,shell-uart = &uart0; // If you want it for shell too
        zephyr,console = &uart0;   // If you want it for console
        my-serial-port = &uart0; // A custom alias for your app
    };
};

&zephyr_udc0 {
    status = "okay";
    cdc_acm_uart0 { // This creates an instance named "CDC_ACM_0"
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};


&uart0 {
    status = "okay";
    current-speed = <115200>; // Set baud rate
};